/* Light Mode Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background */
    color: #333333; /* Dark text color */
}

header {
    background-color: #333; /* Dark background */
}

header nav {
    background-color: #333; /* Dark background for nav bar */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff; /* Light text color */
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #222; /* Dark background */
    color: #fff; /* Light text color */
}

header.dark-mode {
    background-color: #111; /* Darker background */
}

header.dark-mode nav {
    background-color: #111; /* Darker background for nav bar */
}

header.dark-mode nav ul li a {
    color: #fff; /* Light text color */
}
